body {background-color:#282828}

h2 {font-family:Helvetica;sans-serif;color:white}

#leftleg {float:left;width:40px;height:75px;background-color:#666666;margin-left:85px}

#rightleg {float:left;width:40px;height:75px;background-color:#666666;margin-left:12px}